<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @tat_tracker.username %>
</p>

<p>
  <b>Picture:</b>
  <%= @tat_tracker.picture %>
</p>

<p>
  <b>Date inked:</b>
  <%= @tat_tracker.date_inked %>
</p>

<p>
  <b>Inspiration:</b>
  <%= @tat_tracker.inspiration %>
</p>

<p>
  <b>Location on body:</b>
  <%= @tat_tracker.location_on_body %>
</p>

<p>
  <b>Artist name:</b>
  <%= @tat_tracker.artist_name %>
</p>

<p>
  <b>Artist location:</b>
  <%= @tat_tracker.artist_location %>
</p>

<p>
  <b>Artist email:</b>
  <%= @tat_tracker.artist_email %>
</p>

<p>
  <b>Artist twitter:</b>
  <%= @tat_tracker.artist_twitter %>
</p>

<p>
  <b>Artist phone:</b>
  <%= @tat_tracker.artist_phone %>
</p>


<%= link_to 'Edit', edit_tat_tracker_path(@tat_tracker) %> |
<%= link_to 'Back', tat_trackers_path %>
